* {
    box-sizing:border-box;
    margin:0;
    padding:0;
}

#intro {
background-image: url(pages/1.png);
background-position: center;
background-size: cover;
width: 100%;
height: 100vh;
display: flex;
flex-direction: column;
text-align: center;
align-items: center;
}

.btn {
    border-radius: 28px;
    font-family: "bimbo-pro-whiteboard", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 20px;    
    color: black;
    background: #96aa5e;
    padding: 10px 5px 5px 5px;
    text-decoration: none;
    display: block;
    width: 100px;
    margin-top: 380px;
    margin-left: 0 auto;
  }

  .btn:hover {
    background: #dacfc3;
    transition: all 0.5s;
    text-decoration: none;
  }

  #intro1 {
    background-image: url(pages/2.png);
    background-position: center;
    background-size: cover;
    width: 100vw;
    height: 100vh;
    position: relative;
}

.btn-forward {
    position: absolute;
    bottom: 20px;
    right: 20px;
    border-radius: 50%;
    font-size: 24px;
    width: 60px;
    height: 60px;
    background-color: none;
    color: black;
    border: 2px;
    text-align: center;
    line-height: 60px;
    text-decoration: none;
    right: 20px;
}

.btn-back {
    position: absolute;
    bottom: 20px;
    right: 20px;
    border-radius: 50%;
    font-size: 24px;
    width: 60px;
    height: 60px;
    background-color: none;
    color: black;
    border: 2px;
    text-align: center;
    line-height: 60px;
    text-decoration: none;
    left: 20px;
}

#intro2 {
    background-image: url(pages/3.png);
    background-position: center;
    background-size: cover;
    width: 100vw;
    height: 100vh;
    position: relative;
}

#intro3 {
    background-image: url(pages/4.png);
    background-position: center;
    background-size: cover;
    width: 100vw;
    height: 100vh;
    position: relative;
}

#intro4 {
    background-image: url(pages/5.png);
    background-position: center;
    background-size: cover;
    width: 100vw;
    height: 100vh;
    position: relative;
}

#intro5 {
    background-image: url(pages/6.png);
    background-position: center;
    background-size: cover;
    width: 100vw;
    height: 100vh;
    position: relative;
}

#intro6 {
    background-image: url(pages/7.png);
    background-position: center;
    background-size: cover;
    width: 100vw;
    height: 100vh;
    position: relative;
}

#intro7 {
    background-image: url(pages/8.png);
    background-position: center;
    background-size: cover;
    width: 100vw;
    height: 100vh;
    position: relative;
}

#intro8 {
    background-image: url(pages/9.png);
    background-position: center;
    background-size: cover;
    width: 100vw;
    height: 100vh;
    position: relative;
}

#intro9 {
    background-image: url(pages/10.png);
    background-position: center;
    background-size: cover;
    width: 100vw;
    height: 100vh;
    position: relative;
}

#intro10 {
    background-image: url(pages/11.png);
    background-position: center;
    background-size: cover;
    width: 100vw;
    height: 100vh;
    position: relative;
}

#intro11 {
    background-image: url(pages/12.png);
    background-position: center;
    background-size: cover;
    width: 100vw;
    height: 100vh;
    position: relative;
}

#intro12 {
    background-image: url(pages/14.png);
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    }

.gn {
    border-radius: 28px;
    font-family: "bimbo-pro", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 28px;    
    color: black;
    background: #f37984;
    padding: 10px 5px 5px 5px;
    text-decoration: none;
    display: block;
    width: 300px;
    margin-top: 600px;
    margin-left: 0 auto;
  }

  .gn:hover {
    background: #dacfc3;
    transform: scale(1.1,1.1);
    transition: all 0.5s;
    text-decoration: none;
  }

  #intro13 {
    background-image: url(pages/13.png);
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    }

    #buttons {
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    }

    button {
        border-radius: 50%;
        width: 30px;
        height: 30px;
        background-color: #E87B85;
        color: black;
        text-align: center;
        line-height: 0px;
        text-decoration: none;
        border: none;
        margin: 5px;
        font-family: "bimbo-pro", sans-serif;
        font-weight: 700;
        font-style: normal;
        font-size: 12px;
        padding-top: 5px;
    }

    button:hover {
    background: #dacfc3;
    transform: scale(1.1,1.1);
    transition: all 0.5s;
    text-decoration: none;
    }

    #output {
        font-family: "bimbo-pro", sans-serif;
        font-weight: 700;
        font-style: normal;
        font-size: 34px;
        margin: 200px 500px 2000px 900px;
    }