html * {
    background-color: #59a44c;
}

body {
    margin: 150px;
}

header h1 {
    font-family: "DynaPuff", system-ui;
    font-size: 250px;
    text-align: center;
    padding: 0px;
    margin: 100px auto 70px auto;
    letter-spacing: -4px;
    transform: rotate(-4deg);
    font-weight: bold;
}

header h1:hover {
    color: pink;
    transform: scale(1,1);
    transition: all 0.5s;
}

#about {
    font-family: "Inconsolata", monospace;
    font-size: 14px;
    font-variation-settings:
    "wdth" 75;
    text-align: center;
    padding: 0px;
    margin: 80px auto 20px auto;
}

hr.dotted {
    border: 2px dotted black;
}

.intro {
    font-family: "Inconsolata", monospace;
    font-size: 14px;
    font-variation-settings:
    "wdth" 75;
    text-align: justify;
    padding: 0px;
    margin: 100px 200px 50px 200px;
}

.intro p {
    font-size: 20px;
}

.content {
    font-family: "Inconsolata", monospace;
    font-size: 14px;
    font-variation-settings:
    "wdth" 75;
    text-align: justify;
    padding: 0px;
    margin: 50px 200px 50px 200px;
}

.content p {
    font-size: 20px;
    width: 80%;
}

.content img {
    display: inline-flex;
    max-width: 150px;
    float: right;
    margin: 0 0 20px 20px;
}

.uxui {
    font-family: "Inconsolata", monospace;
    font-size: 14px;
    font-variation-settings:
    "wdth" 75;
    text-align: justify;
    padding: 0px;
    margin: 50px 200px 50px 200px;
}

.uxui p {
    font-size: 20px;
}

.recs {
    font-family: "Inconsolata", monospace;
    font-size: 14px;
    font-variation-settings:
    "wdth" 75;
    text-align: justify;
    padding: 0px;
    margin: 50px 200px 50px 200px;
}

.recs p {
    font-size: 20px;
}

li {
    font-family: "Inconsolata", monospace;
    font-size: 20px;
    font-variation-settings:
    "wdth" 75;
    list-style-type: none;
}

.translate .kr {
    opacity: 0;
    position: absolute;
    transition-duration: .3s;
}
.translate:hover .eng {
    opacity: 0;
    transition-duration: .3s;
}

.translate:hover .kr {
    opacity: 1;
    transition-duration: .3s;
    color: pink;
}
.eng,
.kr {
    position: absolute;
    display: inline-block;
    margin: auto 350px 0px 0px;
}

textarea {
    width: 40%;
    height: 50px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid black;
    border-radius: 4px;
    background-color: pink;
    font-size: 10px;
    resize: none;
    margin: 20px auto 30px 30%;

  }
footer {
    font-family: "DynaPuff", system-ui;
    font-size: 20px;
    text-align: center;
    padding: 0px;
    margin: 100px auto 100px auto;
    letter-spacing: -2px;
    font-weight: bold;
}

footer:hover {
    color: pink;
    transform: scale(2,2);
    transition: all 0.5s;
}